Footer{
    background: rgb(107,99,74);
    background: linear-gradient(90deg, rgba(107,99,74,1) 0%, rgba(36,71,59,1) 35%, rgba(10,61,53,1) 100%);
    display: flex;
}

.FooterLeft .logo{
    width: 155px;
}

.Flexbox{
    display: flex;
}

.FooterRight{
    display: flex;
}

.FooterLeft a{
    color: #fff;
}

